<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="dojoroot/dojo.js" djConfig="parseOnLoad: true, isDebug: false"></script>
<script language="JavaScript" type="text/javascript">
	dojo.require("dijit.TitlePane");
	dojo.require("dojo.parser");
	dojo.require("dojo.request");
	dojo.require("dijit.Tooltip");
</script>

<link type="text/css" href="css/style.css" rel="stylesheet" />
<link type="text/css" href="css/speechbubble.css" rel="stylesheet" />
<style>
	#progress {
	 width: 500px;   
	 border: 3px solid black;
	 position: relative;
	 padding: 3px;
	}
	
	#bar {
	 height: 20px;
	}
</style>

<script language="JavaScript" type="text/javascript">
require(["dojo/dom", "dojo/on", "dojo/request", "dojo/dom-attr", "dojo/domReady!"],
	    function(dom, on, request, domAttr){
			//Results will be displayed in these dom elements
			var strengthDiv = dom.byId("passwordStrength");
	        var messageP = dom.byId("messages");
	        var lastPW = "";
	        
	        function updateStrengthBar(strength){
                switch(strength){
                  	case "WEAK":
                  		strengthDiv.innerHTML = "<div id=\"bar\" style=\"background-color: red; width: 2%;\">";
                   		break;
                  	case "MEDIUM":
                   		strengthDiv.innerHTML = "<div id=\"bar\" style=\"background-color: yellow; width: 50%;\">";
                   		break;
                   	case "STRONG":
                   		strengthDiv.innerHTML = "<div id=\"bar\" style=\"background-color: green; width: 100%;\">";
                   		break;
           		 	default:
                   		strengthDiv.innerHTML = "<div id=\"bar\" style=\"background-color: gray; width: 0%;\">";
                   		break;
                } 
	        }
 
	        function updateOkButton(strength) {
        		require(['dojo/on', 'dojo/dom', 'dojo/dom-attr'],
				  function (on, dom, domAttr) {
				    var okButton = dom.byId("ok");
				    if(strength === "STRONG") {
				    	domAttr.set(okButton, 'disabled', false);
				    } else {
				    	domAttr.set(okButton, 'disabled', true);
				    }
				});
	        }
	        
	        function addMessage(message) {
	        	messageP.innerHTML = message.trim();
	        }

	        on(dom.byId("password"), "keyup", function(evt){
	            // Request the text file
	            request.get("/PasswordChecker", 
	            		{
	            			query: {
	            				user: document.getElementById("username").value,
	            				pass: document.getElementById("password").value
	            			}
	            		}).then(
	            	function(rawResponse){
	            		require(['dojo/_base/json'],function(dojo) {	            			
		                	var response = dojo.fromJson(rawResponse);
		                	strength = response.strength.trim().toUpperCase();
							updateStrengthBar(strength);
							updateOkButton(strength);
							if(strength == "STRONG") 
								addMessage("Your password is fine now, you can click OK");
							else 
								addMessage(response.message + "<br> You can also click on improve.");
	            		});
	                },
	                function(error){
	                    // Display the error returned
	                    alert(error);
	                }
	            );
	        });
	        
	        on(dom.byId("improve"), "click", function(evt){
	            request.get("/ImprovePassword", 
	            	{
	            		query: {
	            			pass: document.getElementById("password").value
	            		}
	            	} ).then(
	                function(response){
	                	newPassword = response.trim();
  						document.getElementById("password").value = newPassword;
  						
  						updateStrengthBar("STRONG");
						updateOkButton("STRONG");
						addMessage("Your password is fine now, you can click OK");
	                },
	                function(error){
	                    // Display the error returned
	                    alert(error);
	                }
	            );
	        });
	    }
	);
</script>

<title>Create Account</title>
</head>

<body>

<div id="container">
	<form action="RetypePassword" method="get" autocomplete="off">
	<h1>Create your password</h1>
	
	<div class="block">
		<input id="username" name="username" type="text" disabled="disabled" value="${username}"/>
		<input id="username" name="username" type="hidden" value="${username}"/>
		<div id="userDescr" class="default">The username you picked</div>
	</div>
	
	<div class="block">
		<input id="password" name="password" type="text" />
		<div id="passDescr" class="default" >Enter your password</div>
	</div>
	
	<br><br>
	
	<div class="block">
		<div id="passwordStrengthDescr" class="default">Strength of your password</div>
		<div id="passwordStrength">
   			<div id="bar" style="background-color: yellow; width: 0%;">
   		</div>
	</div>

	</div>
	
	<div class="block">
		<p class="speech" id="messages">Please enter a password</p>
		<img alt="Cat" src="images/cat.png" height="200mm" />
	</div>

	<div class="block">
		<button id="improve"  type="button" >Improve your Password</button>
		<button id="ok" dojoType="dijit.form.Button" type="submit" disabled="disabled">OK</button>
	</div>
	</form>
</div>

</body>

</html>
